<a href="https://colab.research.google.com/github/GersonDanielGuerrero/Progra-III-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
nombre = input("Ingresa tu nombre ")
print("Hola ",nombre, ", inicial: ",nombre[0])

Ingresa tu nombre Daniel
Hola  Daniel , inicial:  D

EJERCICIO, crear un programa que sume dos numeros

In [ ]:
num1 = 4
num2= 5
resp = num1 + num2
print("La suma es: ",resp)

EJERCICIO, crear un programa que sume dos numeros, ingresados por el usuario

In [ ]:
num1 = float(input("Ingresa el primer numero "))
num2= float(input("Ingresa el segundo numero "))
resp = num1 + num2
print("La suma es: ", resp)

Ingresa el primer numero 3
INgresa el segundo numero 4
La suma es:  7

In [ ]:
#Tipos de
num1 = 4
num2 = 4.5
nombre ="Daniel Guerrero"
print(nombre[0:4], nombre[7:len(nombre)],",", nombre[::-1])

estado = False
print(estado)

print(type(num1))
print(type(num2))
print(type(nombre))
print(type(estado))

Dani Guerrero , orerreuG leinaD
False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
EJERCICIO, crear un programa que lea un numero y diga si es par o impar

In [ ]:
num1 = int(input("Ingresa un numero: "))
if num1 % 2 == 0:
    print("El numero es par")
else:
    print("El numero es impar")

#Multiplo de 3
num2 = int(input("Ingresa un numero: "))
num_string = str(num2)
suma_cifras=0
for i in num_string:
    suma_cifras += int(i)
if suma_cifras % 3 ==0:
    print("El numero es multiplo de 3")
else:
    print("El numero no es multiplo de 3")

Ingresa un numero: 468
El numero es par

Funcion para sumar dos numeros

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 2.43
Num 2: 83.5
La suma es:  85.93

Convertir grados celsius a farenheit

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 100
F:  212.0

Funcion de paridad

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 6231
EL numero  6231  es:  impar

Calcular el sueldo

In [ ]:
def calcularSueldo(horasDiarias,valorHora):
    if (horasDiarias>8):
        horasExtra=horasDiarias-8
        horasNormales=8
    else:
        horasExtra=0
        horasNormales=horasDiarias
    sueldo = valorHora*(horasNormales+horasExtra*2)*30
    return sueldo, horasExtra

(1500, 0)

In [ ]:
horasDiarias = float(input("Ingresa las horas que trabajas a diario "))
valorHora= float(input("Ingresa el valor por hora "))

sueldo, horasExtra = calcularSueldo(horasDiarias, valorHora)

print("Diariamente trabajas ",horasDiarias," horas")
print("Diariamente haces ",horasExtra," horas extra")
print("Tu sueldo es : ",sueldo)

Ingresa las horas que trabajas a diario 10
Ingresa el valor por hora 10
Diariamente trabajas  10.0  horas
Diariamente haces  2.0  horas extra
Tu sueldo es :  3600.0

**TAREA**

1.   Convertir Farenheits a Celsius
2.   Convertir Celsius y Farenheit a Kelvin

**Farenheit a Celsius**

In [37]:
def convertir_fc(f):
  return (f-32)/1.8

In [42]:
f = float(input("Grados Farenheit: "))
print("Grados Celsius: ", round(convertir_fc(f),2))

Grados Farenheit: 1
Grados Celsius:  -17.22

**Celsius a Kelvin**

In [36]:
def convertir_ck(c):
  return c + 273.15

In [43]:
c = float(input("Grados Celsius: "))
print("Grados Kelvin: ", round(convertir_ck(c),2))

Grados Celsius: 1
Grados Kelvin:  274.15

**Farenheit a Kelvin**

In [34]:
def convertir_fk(f):
  return (f + 459.67) * 5/9

In [44]:
f = float(input("Grados Farenheit: "))

print("Grados Kelvin: ", round(convertir_fk(f),2))

Grados Farenheit: 1
Grados Kelvin:  255.93

EJERCICIO: calcular el cuadrado de un numero

In [15]:
def elevar(base=0, exp=2):

    return base**exp

In [5]:
x = float(input("Ingresa un numero "))
y= float(input("ingresa la potencia "))
print(elevar(x,y))

Ingresa un numero 2
ingresa la potencia 8
256.0

FUNCIONES LAMBDA

In [6]:
elevarLambda = lambda base,exp : base ** exp

In [11]:
num = float(input("Ingresa un numero "))
print("Cuadrado: ", elevarLambda(num,2))

Ingresa un numero 64
Cuadrado:  4096.0

In [16]:
serie = [1,2,3,4,5,6,7,8,9,10]
resp = map(lambda x : x**2,serie)
print(list(resp))

resp2 = map(elevar,serie)
print(list(resp2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

EJERCICIO: obtener la raiz cuadrada de una serie de numeros fijos

In [27]:
def calcularRaiz(num,raiz=2):
    return num**(1/raiz)

In [31]:
serie = [2, 4, 9, 256]
resp = map(lambda x:round(calcularRaiz(x,2),4),serie)
print(list(resp))

[1.4142, 2.0, 3.0, 16.0]