<a href="https://colab.research.google.com/github/GersonDanielGuerrero/Progra-III-2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
nombre = input("Ingresa tu nombre ")
print("Hola ",nombre, ", inicial: ",nombre[0])

Ingresa tu nombre Daniel
Hola  Daniel , inicial:  D

EJERCICIO, crear un programa que sume dos numeros

In [ ]:
num1 = 4
num2= 5
resp = num1 + num2
print("La suma es: ",resp)

EJERCICIO, crear un programa que sume dos numeros, ingresados por el usuario

In [ ]:
num1 = float(input("Ingresa el primer numero "))
num2= float(input("Ingresa el segundo numero "))
resp = num1 + num2
print("La suma es: ", resp)

Ingresa el primer numero 3
INgresa el segundo numero 4
La suma es:  7

In [ ]:
#Tipos de
num1 = 4
num2 = 4.5
nombre ="Daniel Guerrero"
print(nombre[0:4], nombre[7:len(nombre)],",", nombre[::-1])

estado = False
print(estado)

print(type(num1))
print(type(num2))
print(type(nombre))
print(type(estado))

Dani Guerrero , orerreuG leinaD
False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
EJERCICIO, crear un programa que lea un numero y diga si es par o impar

In [ ]:
num1 = int(input("Ingresa un numero: "))
if num1 % 2 == 0:
    print("El numero es par")
else:
    print("El numero es impar")

#Multiplo de 3
num2 = int(input("Ingresa un numero: "))
num_string = str(num2)
suma_cifras=0
for i in num_string:
    suma_cifras += int(i)
if suma_cifras % 3 ==0:
    print("El numero es multiplo de 3")
else:
    print("El numero no es multiplo de 3")

Ingresa un numero: 468
El numero es par

Funcion para sumar dos numeros

In [1]:
def suma(num1, num2):
  return num1 + num2

In [2]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 2.43
Num 2: 83.5
La suma es:  85.93

Convertir grados celsius a farenheit

In [3]:
def convertir_cf(c):
  return c*1.8 + 32

In [4]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 100
F:  212.0

Funcion de paridad

In [5]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [6]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 6231
EL numero  6231  es:  impar

Calcular el sueldo

In [34]:
def calcularSueldo(horasDiarias,valorHora):
    if (horasDiarias>8):
        horasExtra=horasDiarias-8
        horasNormales=8
    else:
        horasExtra=0
        horasNormales=horasDiarias
    sueldo = valorHora*(horasNormales+horasExtra*2)*30
    return sueldo, horasExtra

(1500, 0)

In [39]:
horasDiarias = float(input("Ingresa las horas que trabajas a diario "))
valorHora= float(input("Ingresa el valor por hora "))

sueldo, horasExtra = calcularSueldo(horasDiarias, valorHora)
print("Diariamente trabajas ",horasDiarias," horas")
print("Diariamente haces ", horasExtra, " horas extra")
print("Tu sueldo es : ", sueldo)

Ingresa las horas que trabajas a diario 10
Ingresa el valor por hora 10
Diariamente trabajas  10.0  horas
Diariamente haces  2.0  horas extra
Tu sueldo es :  3600.0

**TAREA**

1.   Convertir Farenheits a Celsius
2.   Convertir Celsius y Farenheit a Kelvin

**Farenheit a Celsius**

In [8]:
def convertir_fc(f):
  return (f-32)/1.8

In [10]:
f = float(input("Grados Farenheit:"))
print("Grados Celsius: ", convertir_fc(f))

Grados Farenheit:212
Grados Celsius:  100.0

Celsius a Kelvin

In [11]:
def convertir_ck(c):
  return c + 273.15

In [12]:
c = float(input("Grados Celsius:"))
print("Grados Kelvin: ", convertir_ck(c))

Grados Celsius:0
Grados Kelvin:  273.15

**Farenheit a Kelvin**

In [13]:
def convertir_fk(f):
  return (f+459.67)*5/9

In [14]:
f = float(input("Grados Farenheit:"))
print("Grados Kelvin: ", convertir_fk(f))

Grados Farenheit:60
Grados Kelvin:  288.7055555555556